<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <title>Cost Effective Analysis Tool</title>
    <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
</head>

<body>
<div class="wrapper">
    <div class="sidebar">
        <ul>
            <li><a href="#Clients">Number of Clients</a></li>
            <li><a href="#Pre_Cost">Pre Cost Table</a></li>
            <li><a href="#Post_Cost">Post Cost Table</a></li>
            <li><a href ="#Top">Back to Top</a></li>
            <br><br><br>
            <li>
                <form name="Item_1" action="/medcost" method="POST">
                    <div>
                        <label for="exampleFormControlFile2" >Choose Region</label>
                        <select name="sda">
                            <option value = ""></option>
                            {% for district in sda %}
                            <option value="{{ district}}">{{ district }}</option>
                            {% endfor %}
                        </select>
                        <input type ="submit" value="Submit">
                    </div>
                </form>
            </li>
        </ul>
    </div>

    <div  id="Top" class="main_content">

        <div class="navbar">
            <ul>
                <li>
                    <a href="https://sites.google.com/view/pinformatics/data-science/cost-study-resources?authuser=0" target="_blank" style="margin-right: 210px;">Documents</a>
                </li>
                <li>
                    <a href="https://sites.google.com/view/pinformatics/data-science/public-data-resources?authuser=0" target="_blank">Other Data Resources</a>
                </li>
                <li><a href="#">Hospitilization Cost Lookup</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Cost Study</button>
                    <div class="dropdown-content">
                        <a href="demographics">Demographics</a>
                        <a href="medcost">Total Medical Cost</a>
                        <a href="inpatcost">Inpatient Care Cost</a>
                        <a href="edcost">ED Cost</a>
                        <a href="outpatcost">Outpatient Care Cost</a>
                    </div>
                </div>
                <li>
                    <a href="{{url_for('download_file')}}" target="_blank">CEA</a>
                </li>
            </ul>
        </div>
    </div>
</div>

        {% block content %}{% endblock content %}
</body>
</html>