{% extends "base.html" %}

{% block content %}


        <center><h1>Cost Effectiveness Analysis Tool </h1></center>
        <center><u><h2>Intervention Cohort</h2></u></center>
               
        <form method = "POST" id="myform" name="myform">
          <center>
            <center><p class="text-border"><b>Intervention Cost</b></p></center> 
            <INPUT type="button" value="Add Row" onclick="addRowToTable()" />
            <INPUT type="button" value="Add Column" onclick="addColumn('input-table')" />
            <INPUT type="button" value="Delete Column" onclick="deleteColumn('input-table')" />
            <br>
          <table class="ceatable" id="input-table">
            <thead>
            <tr>
              <th></th>
              <th>Time Period (SFY)</th>
              <th>Cost 1</th>
              
            </tr>
            </thead>
            <tbody>
            <tr id = "clone">
              <td><input type="button" value="Remove" onclick="removeRow(this)"/></td>  
              <td><input type="number" name = "year" ></td>
              <td><input type="number" name="inter_costs" step=any></td>
                      
            </tr>
        </tbody>
            
        </table>
        </center>
        <br>
        <center>
            
 
        
      </center>
      <br>
      <center><input class = "btn btn-primary" type = "submit" value = "Compute Sum for Intervention Cost" ></center>
        </form>
      
        <center><h3> Intervention Cost Sum: {{total_cost}} </h3></center>
      
      {% endblock content %} 