{% extends "base.html" %}

{% block content %}


        <center><h1>Cost Effectiveness Analysis Tool </h1></center>
        <center><u><h2>Intervention Cohort</h2></u></center>
               
        <form method = "POST" id="myform" name="myform">
          <center>
          <table class="ceatable" id="input-table">
            <thead>
            <tr>
              <th></th>
              <th>Time Period (SFY)</th>
              <th>Cost 1</th>
              
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><input type="button" value="Remove" onclick="removeRow(this)"/></td>  
              <td><input type="number" name = "year1"></td> <td><input type="number" name="inter_costs"></td>
                      
            </tr>
        </tbody>
            
        </table>
        </center>
        <br>
        <center>
        <INPUT type="button" value="Add Row" onclick="addRowToTable('input-table')" />
        <INPUT type="button" value="Add Column" onclick="addColumn('input-table')" />
        <INPUT type="button" value="Delete Column" onclick="deleteColumn('input-table')" />
        
      </center>
      <br>
      <center><input class = "btn btn-primary" type = "submit" value = "Computer CER" ></center>
        </form>
      {%for treat_cost in treatment_cost%}
        <center><h3> {{treat_cost}} </h3></center>
      {%endfor%}
      {% endblock content %} 