<!doctype html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <link rel="stylesheet" type = text/css href="{{ url_for('static', filename= 'css/main.css') }}">
        <title>Cost Study: Outpatient Care Cost</title>
        
    </head>


    <body>  


        <div class="navbar">
            <a href="https://sites.google.com/view/pinformatics/data-science/cost-study-resources?authuser=0" target="_blank">Documents</a>
            <a href="https://sites.google.com/view/pinformatics/data-science/public-data-resources?authuser=0" target="_blank">Other Data Resources</a>
            <a href="#">Hospitilization Cost Lookup</a>
            
            <div class="dropdown">
              <button class="dropbtn">Cost Study 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="demographics">Demographics</a>
                <a href="medcost">Total Medical Cost</a>
                <a href="inpatcost">Inpatient Care Cost</a>
                <a href="edcost">ED Cost</a>
                <a href="outpatcost">Outpatient Care Cost</a>
              </div>
            </div>  
            <div class="dropdown">
              <button class="dropbtn">CEA
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="questionnaire">Questionnaire</a>
                <a href="data_entry">Data Entry</a>
                <a href="cea_results">CEA Results</a>
      
              </div>
            </div>  
      
            </div>
        <center><h1 >Demographics</h1></center>
        <hr color = "black" style="width:50%;text-align:center;border-bottom: 4px double">
        