<!doctype html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <link rel="stylesheet" type = text/css href="{{ url_for('static', filename= 'css/main.css') }}">
        <title>Demographics</title>
        
    </head>


    <body>  
      <form name="Item_1" action="/demographics" method="POST">
        <div class = "fixed">
        <label for="exampleFormControlFile2">Choose Region</label>
          <select name="sda_demo">
              <option value = ""></option>
            {% for district in sda_demo %}
              <option value="{{district}}">{{ district }}</option>
            {% endfor %}     
          </select>
          <input type ="submit" value="Submit">
        </div>
    </form>


    <div class="navbar" id="Top">
      <a href="https://sites.google.com/view/pinformatics/data-science/cost-study-resources?authuser=0" target="_blank">Documents</a>
      <a href="https://sites.google.com/view/pinformatics/data-science/public-data-resources?authuser=0" target="_blank">Other Data Resources</a>
      <div class="dropdown">
        <button class="dropbtn">Hospitalization Cost Lookup
          <i class="fa fa-caret-down"></i>
        </button>
      <div class="dropdown-content">
        <a href="mental-health">Mental Health</a>
        <a href="heart-conditions">Heart Conditions</a>
      </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">Cost Study 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="demographics">Demographics</a>
          <a href="medcost">Total Medical Cost</a>
          <a href="inpatcost">Inpatient Care Cost</a>
          <a href="edcost">ED Cost</a>
          <a href="outpatcost">Outpatient Care Cost</a>
        </div>
      </div>  
      <a href="{{url_for('download_file')}}" target="_blank">CEA</a>
  
      </div>
        <center><h1 >Demographics for Texas</h1></center>
        <hr color = "black" style="width:50%;text-align:center;border-bottom: 4px double">
        <br>
 

        
        <center>
        <table class="demographics">
          <tr>
            <th colspan="3"></th>
            <th>Child</th>
            <th>Blind/Disabled</th>
            <th>Telemonitoring</th>
          </tr>
        </table>
        </center>
        <div class="demo">
        <center>
        {% for table in texas_2013 %}
          {{table|safe}}         
        {% endfor %}</center> 
        <br>
        </div>
        <center>
          <table class="demographics">
            <tr>
              <th colspan="3"></th>
              <th>Child</th>
              <th>Blind/Disabled</th>
              <th>Telemonitoring</th>
            </tr>
          </table>
          </center>
        <div class="demo">
        <center>
        {% for table in texas_2014 %}
          {{table|safe}}         
        {% endfor %}</center> 
        <br>
        </div>

        <center>
          <table class="demographics">
            <tr>
              <th colspan="3"></th>
              <th>Child</th>
              <th>Blind/Disabled</th>
              <th>Telemonitoring</th>
            </tr>
          </table>
          </center>
        <div class="demo">
        <center>
        {% for table in texas_2015 %}
          {{table|safe}}         
        {% endfor %}</center> 
        <br>
        </div>

        <center>
          <table class="demographics">
            <tr>
              <th colspan="3"></th>
              <th>Child</th>
              <th>Blind/Disabled</th>
              <th>Telemonitoring</th>
            </tr>
          </table>
          </center>
        <div class="demo">
        <center>
        {% for table in texas_2016 %}
          {{table|safe}}         
        {% endfor %}</center> 
        <br>
        </div>

      <center>
        <table class="demographics">
          <tr>
            <th colspan="3"></th>
            <th>Child</th>
            <th>Blind/Disabled</th>
            <th>Telemonitoring</th>
          </tr>
        </table>
        </center>
        <div class="demo">
        <center>
        {% for table in texas_2017 %}
          {{table|safe}}         
        {% endfor %}</center> 
        <br>
        </div>

        <center>
        <table class="demographics">
          <tr>
            <th colspan="3"></th>
            <th>Child</th>
            <th>Blind/Disabled</th>
            <th>Telemonitoring</th>
          </tr>
        </table>
        </center>
        <div class="demo">
        <center>
        {% for table in texas_2018 %}
          {{table|safe}}         
        {% endfor %}</center>  
        </div>
        <br><br>



    </body>
    </html>

        