<!doctype html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
        <title>Cost Effective Analysis Tool</title>
        
    </head>


    <body>  

    <div class="navbar">
      <a href="documents">Documents</a>
      <a href="#">Other Data Resources</a>
      <a href="#">Hospitilization Cost Lookup</a>
      
      <div class="dropdown">
        <button class="dropbtn">Cost Study 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Demographics</a>
          <a href="medcost">Medical Cost</a>
          <a href="#">Inpatient Care Cost</a>
          <a href="#">ED Cost</a>
          <a href="#">Outpatient Care Cost</a>
        </div>
      </div>          
      <a href="home">CEA</a>
 
      </div>

          

        <center><h1>Documents </h1></center>
        <h3><a href="Teleservices_Cost_Report_2020.pdf">Teleservices Cost Report</a></h3>
               
        

    </body>
</html>

  