<!doctype html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
        <title>Cost Effective Analysis Tool</title>
        <SCRIPT language="javascript">
          function addRow(tableID) {
      
            var table = document.getElementById(tableID);
      
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
      
            var cell1 = row.insertCell(0);
            var element1 = document.createElement("input");
            element1.type = "checkbox";
            element1.name="chkbox[]";
            cell1.appendChild(element1);
      
            var cell2 = row.insertCell(1);
            var element2 = document.createElement("input");
            element2.type = "number";
            element2.name = "year";
            cell2.appendChild(element2);
      
            var cell3 = row.insertCell(2);
            var element3 = document.createElement("input");
            element3.type = "number";
            element3.name = "treat_cost";
            cell3.appendChild(element3);
            
            var cell4 = row.insertCell(3);
            var element4 = document.createElement("input");
            element4.type = "number";
            element4.name = "treat_visit";
            cell4.appendChild(element4);

            var cell5 = row.insertCell(4);
            var element5 = document.createElement("input");
            element5.type = "number";
            element5.name = "comp_cost";
            cell5.appendChild(element5);

            var cell6 = row.insertCell(5);
            var element6 = document.createElement("input");
            element6.type = "number";
            element6.name = "comp_visit";
            cell6.appendChild(element6);
      
      
          }
      
          function deleteRow(tableID) {
            try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
      
            for(var i=0; i<rowCount; i++) {
              var row = table.rows[i];
              var chkbox = row.cells[0].childNodes[0];
              if(null != chkbox && true == chkbox.checked) {
                table.deleteRow(i);
                rowCount--;
                i--;
              }
      
      
            }
            }catch(e) {
              alert(e);
            }
          }
      
        </SCRIPT>
    </head>


    <body>  

    <div class="navbar">
      <a href="https://sites.google.com/view/pinformatics/data-science/cost-study-resources?authuser=0" target="_blank">Documents</a>
      <a href="https://sites.google.com/view/pinformatics/data-science/public-data-resources?authuser=0" target="_blank">Other Data Resources</a>
      <a href="#">Hospitilization Cost Lookup</a>
      
      <div class="dropdown">
        <button class="dropbtn">Cost Study 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="demographics">Demographics</a>
          <a href="medcost">Total Medical Cost</a>
          <a href="inpatcost">Inpatient Care Cost</a>
          <a href="edcost">ED Cost</a>
          <a href="outpatcost">Outpatient Care Cost</a>
        </div>
      </div>          
      <a href="home">CEA</a>
 
      </div>

          

        <center><h1>Cost Effectiveness Analysis Tool </h1></center>
        <center><u><h2>Study perpective: MCO</h2></u></center>
               
        <form method = "POST">
          <center>
          <table class="ceatable" id="input-table">
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th colspan="2">Treatment</th>
              <th colspan="2">Comparison</th>
            </tr>
            <tr>
              <th></th>
              <th>Year</th>
              <th>Avg Cost</th>
              <th>Avg Visit</th>
              <th>Avg Cost</th>
              <th>Avg Visit</th>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="number" name = "year1"></td> <td><input type="number" name="treat_cost"></td><td><input type="number" name="treat-visit1"></td>
              <td><input type="number" name="comp-cost1"></td><td><input type="number" name="comp-visit1"></td>
            </tr>
            <!--
            <tr>
              <td><input type="number" name = "year2"></td> <td><input type="number" name="treat-cost2"></td><td><input type="number" name="treat-visit2"></td>
              <td><input type="number" name="comp-cost2"></td><td><input type="number" name="comp-visit2"></td>
            </tr>
            <tr>
              <td><input type="number" name = "year3"></td> <td><input type="number" name="treat-cost3"></td><td><input type="number" name="treat-visit3"></td>
              <td><input type="number" name="comp-cost3"></td><td><input type="number" name="comp-visit3"></td>
            </tr>
            <tr>
              <td><input type="number" name = "year4"></td> <td><input type="number" name="treat-cost4"></td><td><input type="number" name="treat-visit4"></td>
              <td><input type="number" name="comp-cost4"></td><td><input type="number" name="comp-visit4"></td>
            </tr>
            <tr>
              <td><input type="number" name = "year5"></td> <td><input type="number" name="treat-cost5"></td><td><input type="number" name="treat-visit5"></td>
              <td><input type="number" name="comp-cost5"></td><td><input type="number" name="comp-visit5"></td>
            </tr>
            <tr>
              <td><input type="number" name = "year6"></td> <td><input type="number" name="treat-cost6"></td><td><input type="number" name="treat-visit6"></td>
              <td><input type="number" name="comp-cost6"></td><td><input type="number" name="comp-visit6"></td>
            </tr> --> 

            
        </table>
        </center>
        <br>
        <center>
        <INPUT type="button" value="Add Row" onclick="addRow('input-table')" />
        <INPUT type="button" value="Delete Row" onclick="deleteRow('input-table')" />
      </center>
      <br>
      <center><input class = "btn btn-primary" type = "submit" value = "Computer CER" ></center>
        </form>
      {%for treat_cost in treatment_cost%}
        <center><h3> {{treat_cost}} </h3></center>
      {%endfor%}
    </body>
</html>

  