<!doctype html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
        <title>Cost Effective Analysis Tool</title>
        
    </head>


    <body>  

        <div class="navbar">
            <a href="#contact">Documents</a>
            <a href="#clients">Other Data Resources</a>
            <a href="#services">Hospitilization Cost Lookup</a>
            
            <div class="dropdown">
              <button class="dropbtn">Cost Study 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Demographics</a>
                <a href="medcost">Medical Cost</a>
                <a href="#">Inpatient Care Cost</a>
                <a href="#">ED Cost</a>
                <a href="#">Outpatient Care Cost</a>
              </div>
            </div>          
            <a href="home">CEA</a>
       
            </div>
        
            <div class="sidenav">
                <a href="#Clients">Number of Clients</a>
                <a href="#Pre_Cost">Pre Cost Table</a>
                <a href="#Post_Cost">Post Cost Table</a>            
            </div>

        <center><h1>Cost Study</h1></center>
        <center><u><h2>Medical Cost</h2></u></center>
        <center>
        <form name="Item_1" action="/medcost" method="POST">
            <div class = "fixed">
            <label for="exampleFormControlFile2">Choose Region</label>
              <select name="sda">
                <option value = ""></option>
                {% for district in sda %}
                  <option value="{{ district}}">{{ district }}</option>
                {% endfor %}     
              </select>
              <input type ="submit" value="Submit">
            </div>
        </form>
 
        </center>
        <center><u><h2 id="Clients">Number of Clients for {{sda_name}}</h2></u></center>
        <center><caption>Teleservices</caption></center>
        <center>
        
        {% for table in numclient_tele %}
            {{table|safe}}
        {% endfor %}</center> 
        <br><br>
        <center><caption>Non-Teleservices</caption></center>
        <center>
        {% for table in numclient_nontele %}
            {{table|safe}}
        {% endfor %}</center> 

        <center><u><h2 id="Pre_Cost">Pre Cost Table for {{sda_name}}</h2></u></center>
        <center><caption>Teleservices</caption></center>
        <center>
        {% for table in precost_tele %}
            {{table|safe}}
        {% endfor %}</center>
        <br><br>
        <center><caption>Non-Teleservices</caption></center>
        <center>
        {% for table in precost_nontele %}
            {{table|safe}}
        {% endfor %}</center>       
        
        <center><u><h2 id="Post_Cost">Post Cost Table for {{sda_name}}</h2></u></center>
        <center><caption>Teleservices</caption></center>
        <center>
        {% for table in postcost_tele %}
            {{table|safe}}
        {% endfor %}</center> 
        <br><br>
        <center><caption>Non-Teleservices</caption></center>
        <center>
        {% for table in postcost_nontele %}
            {{table|safe}}
        {% endfor %}</center> 


        <br><br>

    </body>
</html>

  