<!doctype html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
        <title>Cost Effective Analysis Tool</title>
        
    </head>


    <body>  

        <div class="navbar">
            <a href="#contact">Documents</a>
            <a href="#clients">Other Data Resources</a>
            <a href="#services">Hospitilization Cost Lookup</a>
            
            <div class="dropdown">
              <button class="dropbtn">Cost Study 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Demographics</a>
                <a href="medcost">Medical Cost</a>
                <a href="#">Inpatient Care Cost</a>
                <a href="#">ED Cost</a>
                <a href="#">Outpatient Care Cost</a>
              </div>
            </div>          
            <a href="home">CEA</a>
       
            </div>

        <center><h1>Cost Study</h1></center>
        <center><u><h2>Medical Cost</h2></u></center>
        <center>
        <form name="Item_1" action="/medcost" method="POST">
            <div class = "fixed">
            <label for="exampleFormControlFile2">Choose SDA</label>
              <select name="sda">
                {% for district in sda %}
                  <option value="{{ district}}" selected>{{ district }}</option>
                {% endfor %}     
              </select>
              <input type ="submit" value="Submit">
            </div>
        </form>
        <div id="result">
            {% if sda_name is defined %}
                You have selected : {{sda_name}}
            {% endif %}
        </div>
        </center>
        <center><u><h2>Number of Clients for {{sda_name}}</h2></u></center>
        <center>
        {% for table in num_client %}
            {{table|safe}}
        {% endfor %}</center> 

        <center><u><h2>Pre Cost Table for {{sda_name}}</h2></u></center>
        <center>
        {% for table in df_precost %}
            {{table|safe}}
        {% endfor %}</center>
        
        <center><u><h2>Post Cost Table for {{sda_name}}</h2></u></center>
        <center>
        {% for table in df_postcost %}
            {{table|safe}}
        {% endfor %}</center> 

    </body>
</html>

  