<!doctype html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <link rel="stylesheet" type = text/css href="{{ url_for('static', filename= 'css/main.css') }}">
        <title>Cost Effective Analysis Tool</title>
        
    </head>


    <body>  

        <div class="navbar">
            <a href="#contact">Documents</a>
            <a href="#clients">Other Data Resources</a>
            <a href="#services">Hospitilization Cost Lookup</a>
            
            <div class="dropdown">
              <button class="dropbtn">Cost Study 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Demographics</a>
                <a href="medcost">Medical Cost</a>
                <a href="#">Inpatient Care Cost</a>
                <a href="#">ED Cost</a>
                <a href="#">Outpatient Care Cost</a>
              </div>
            </div>          
            <a href="home">CEA</a>       
            </div>
        
        <div class="sidenav">
            <a href="#Clients">Number of Clients</a>
            <a href="#Pre_Cost">Pre Cost Table</a>
            <a href="#Post_Cost">Post Cost Table</a>            
        </div>
    
        <center><h1>Cost Study</h1></center>
        <center><u><h2>Medical Cost</h2></u></center>
        <center>
        <form name="Item_1" action="/medcost" method="POST">
            <div class = "fixed">
            <label for="exampleFormControlFile2">Choose Region</label>
              <select name="sda">
                  <option value = ""></option>
                {% for district in sda %}
                  <option value="{{district}}">{{ district }}</option>
                {% endfor %}     
              </select>
              <input type ="submit" value="Submit">
            </div>
        </form>
        <div id="result">
            {% if sda_name is defined %}
                You have selected : {{sda_name}}
            {% endif %}
        </div>
        </center>

        
        <center><u><h2 id="Clients">Number of Clients for Texas</h2></u></center>
        <center><caption>Teleservices</caption></center>
        <center>

       
        {% for table in texas_nclient_tele %}
        
        <center> {{table|safe}}</center>        

        {% endfor %}</center> 
        <br><br>
        <center><caption>Non-Teleservices</caption></center>
        <center>
        {% for table in texas_nclient_nontele %}
        <center> {{table|safe}}</center>           
        {% endfor %}</center> 

        <center><u><h2 id="Pre_Cost">Pre Cost Table for Texas</h2></u></center>
        <center>
        <center><caption>Teleservices</caption></center>
        {% for table in texas_precost_tele %}
            {{table|safe}}
        {% endfor %}</center>

        <br><br>
        <center><caption>Non-Teleservices</caption></center>        
        <center>
            {% for table in texas_precost_nontele %}
                {{table|safe}}
            {% endfor %}</center>
        
        <center><u><h2 id="Post_Cost">Post Cost Table for Texas</h2></u></center>
        <center>
        <center><caption>Teleservices</caption></center>
        {% for table in texas_postcost_tele %}
            {{table|safe}}
        {% endfor %}</center> 
        <br><br>
        <center><caption>Non-Teleservices</caption></center>
        <center>
        {% for table in texas_postcost_nontele %}
            {{table|safe}}
        {% endfor %}</center> 

        <br><br>


    </body>
</html>

  