<!doctype html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <link rel="stylesheet" type = text/css href="{{ url_for('static', filename= 'css/main.css') }}">
        <title>Cost Study: Outpatient Care Cost</title>
        
    </head>


    <body>  

        <div class="navbar" id="Top">
            <a href="https://sites.google.com/view/pinformatics/data-science/cost-study-resources?authuser=0" target="_blank">Documents</a>
            <a href="https://sites.google.com/view/pinformatics/data-science/public-data-resources?authuser=0" target="_blank">Other Data Resources</a>
            <a href="#">Hospitilization Cost Lookup</a>
            
            <div class="dropdown">
              <button class="dropbtn">Cost Study 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="demographics">Demographics</a>
                <a href="medcost">Total Medical Cost</a>
                <a href="inpatcost">Inpatient Care Cost</a>
                <a href="edcost">ED Cost</a>
                <a href="outpatcost">Outpatient Care Cost</a>
              </div>
            </div>  
            <div class="dropdown">
              <button class="dropbtn">CEA
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="cea_design">CEA Design</a>
                <a href="data_entry">Data Entry</a>
                <a href="cea_results">CEA Results</a>
        
              </div>
            </div>  
        
            </div>
        <div class="sidenav">
            <a href="#Clients">Number of Clients</a>
            <a href="#Post_Cost">Post Cost Table</a>
            <a href="#Outpat_visit">Outpatient Visits Table</a>       
            <a href = "#Top">Back to Top</a>     
        </div>
    
        <center><h1 >Cost Study: Outpatient Care Cost</h1></center>
        <hr color = "black" style="width:50%;text-align:center;border-bottom: 4px double">
        
        <form name="Item_1" action="/outpatcost" method="POST">
            <div class = "fixed">
            <label for="exampleFormControlFile2">Choose Region</label>
              <select name="sda">
                  <option value = ""></option>
                {% for district in sda %}
                  <option value="{{district}}">{{ district }}</option>
                {% endfor %}     
              </select>
              <input type ="submit" value="Submit">
            </div>
        </form>
        
        <center><h2>Term Definitions</h2></center>
        <div style="margin: 15px 20px 10px 275px">
            <div style="display: inline-block; text-align: left;">
            <b>Client:</b> An individual engaged in Medicaid services. <br/>
            <br>
            <b>Treatment Group:</b> Group of tele clients with shared common characteristics (for example, they received services in the same State Fiscal Year, used the same teleservice types,
            belonged to the same Medicaid risk groups, had similar comorbidity indices, had the same specified chronic diseases, had similar demographics, etc.). <br/>
            <br>
            <b>Comparison Group:</b> Group of non-tele clients who closely match the tele clients of a treatment group. <br/>
            <b>Teleservices:</b> Service delivered through telemedicine, telehealth, and telemonitoring, as defined by the state of Texas.	<br><br>																					
            <b>Tele visit:</b> Category of teleservices in which the client’s visit with a provider or health care professional is done virtually rather than in person. <br>
            Tele visits encompass both telemedicine and telehealth services but not telemonitoring. Telemonitoring is a separate category since the mode of service provision is significantly different. <br><br>
            <b>Telemonitoring:</b> defined in Texas Government Code §531.001(4-a) as the 
            “...scheduled remote monitoring of data related to a patient's health and transmission of the data to a licensed home and community support services agency or a hospital." 
            In the Texas Medicaid program, home telemonitoring requires an RN or other qualified health care professional. <br><br>
            <b>Medicaid Risk Groups:</b> Specified groups of clients of particular interest to policy makers. Risk groups are created based on Medicaid category of assistance program. Risk groups distinguished in this report include: <br>							
            <div style="margin: 0px 20px 0px 50px">
            <b>Blind/Disabled</b> – Medicaid clients identified as blind and / or disabled in the Medicaid assistance program and those identified with coverage in the breast and cervical cancer program (BCCP); 	<br>											
            <b>Child</b> – Medicaid clients aged 21 years and younger and those in the foster care, adoption, and those that have coverage in the Texas Temporary Assistance for Needy Families (TANF) program;	<br>									
            <b>Other</b> – Combines the following groups	<br>		
            </div>		
            
            <div style="margin: 0px 20px 0px 100px">
                <b>Parents</b> – Medicaid clients 21 to 65 years of age enrolled in any program for any type for parental reason.<br>
                <b>Aged</b> – Medicaid clients aged 65 and older in the aged assistance program; <br>			
                <b>Pregnant</b> – Medicaid clients in the pregnant program; 	
            </div>
            <br>
            <b>Pre-cost: </b> Total medical or pharmaceutical costs for the six-month period preceding an index month. Does not include the <a href=documents#index-month>index month</a>. <br>				
            <b>Post-cost:</b> Total medical or pharmaceutical costs for the six-month period following an index month. Does not include the <a href=documents#index-month>index month</a>.							
            
            
            </div>
        </div>
        <br>

        <div class = "solid" >
        <center><u><h2 id="Clients">Number of Clients for {{sda_name}}</h2></u></center>

        <center><p class="text-border"><b>Treatment Group: Teleservices</b></p></center> 
        <center>
        <table class='mytable'>
 
            <tr>
            <td>&nbsp;</td>

            <td colspan="4"><b>Tele Visit</b></td>               
            <td style = "text-align: left;"><b>Telemonitoring</b></td>
            
            </tr>
           </table>
        </center>
        <center>
        
        {% for table in numclient_tele %}
        <center> {{table|safe}}</center>        
        {% endfor %}

        </center> 
        <br><br>    
        <center><p class="text-border"><b>Comparison Group: Non-Teleservices</b></p></center>
        <center>
            <table class='mytable'>
     
                <tr>
                <td>&nbsp;</td>
    
                <td colspan="4"><b>Non-Tele Visit</b></td>               
                <td style = "text-align: left;"><b>Non-Telemonitoring</b></td>
                
                </tr>
               </table>
            </center>
        
        <center>
        {% for table in numclient_nontele %}
        <center> {{table|safe}}</center>           
        {% endfor %}</center> 
        <br>
        </div>    
        <br>

        

        <div class = "solid" >
        <center><u><h2 id="Post_Cost">Post Cost Table for {{sda_name}}</h2></u></center>
        <center>
        <center><p class="text-border"><b>Treatment Group: Teleservices</p></b></center>
        <center>
            <table class='mytable'>
     
                <tr>
                <td>&nbsp;</td>
    
                <td colspan="4"><b>Tele Visit</b></td>               
                <td style = "text-align: left;"><b>Telemonitoring</b></td>
                
                </tr>
               </table>
            </center>
        {% for table in postcost_tele_outpat %}
            {{table|safe}}
        {% endfor %}</center> 
        <br><br>
        <center><p class="text-border"><b>Comparison Group: Non-Teleservices</p></b></center>
        <center>
            <table class='mytable'>
     
                <tr>
                <td>&nbsp;</td>
    
                <td colspan="4"><b>Non-Tele Visit</b></td>               
                <td style = "text-align: left;"><b>Non-Telemonitoring</b></td>
                
                </tr>
               </table>
            </center>
        <center>
        {% for table in postcost_nontele_outpat %}
            {{table|safe}}
        {% endfor %}</center> 

        <br><br>
    </div>
    <br>

    <div class = "solid" >
        <center><u><h2 id="Outpat_visit">Outpatient Visits Table for {{sda_name}}</h2></u></center>
        <center>
        <center><p class="text-border"><b>Treatment Group: Teleservices</p></b></center>
        <center>
            <table class='mytable'>
     
                <tr>
                <td>&nbsp;</td>
    
                <td colspan="4"><b>Tele Visit</b></td>               
                <td style = "text-align: left;"><b>Telemonitoring</b></td>
                
                </tr>
               </table>
            </center>
        {% for table in outpat_visits_tele %}
            {{table|safe}}
        {% endfor %}</center> 
        <br><br>
        <center><p class="text-border"><b>Comparison Group: Non-Teleservices</p></b></center>
        <center>
            <table class='mytable'>
     
                <tr>
                <td>&nbsp;</td>
    
                <td colspan="4"><b>Non-Tele Visit</b></td>               
                <td style = "text-align: left;"><b>Non-Telemonitoring</b></td>
                
                </tr>
               </table>
            </center>
        <center>
        {% for table in outpat_visits_nontele %}
            {{table|safe}}
        {% endfor %}</center> 

        <br><br>
    </div>


    </body>
</html>

  